@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}
<style>
    div.scroll-container {
        background-color: blue;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
    }

        div.scroll-container img {
            padding: 10px;
        }
</style>





<div class="row">
    <div class="col-md-2" style="border-right:double; border-color:blue;">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <!-- Left sidebar content -->
        <ul style="position: fixed;">
            <li><a href="#Intro">Intro</a></li> 
            <li><a href="#ME442">ME442</a></li>
            <li><a href="#Overlay">Overlay</a></li>
            <li><a href="#Intercooler">Intercooler</a></li>
            <li><a href="#Charge">Chargeand Tune</a></li>
            <li><a href="#Conclusion">Conclusion</a></li>
        </ul>
        </div>
    </div>   

    <div class="col-md-8">
        <!-- Right content -->
        <div class="center-content">
            <!-- Main content here -->
            <section id="Intro">
            <div class="text-center">
                <h1 class="display-4">Welcome To MX-5 Supercharge Your Car.</h1>
            </div>
            <div class="scroll-container" >
                <img src="images/1mx5_car_view.jpg" alt="" width="600" height="400">
                <img src="images/1mx5_dyno.jpg" alt="" width="600" height="400">
                <img src="images/1mx5_engine_bay.jpg" alt="" width="600" height="400">
                <img src="images/1mx5_car_flat.jpg" alt="" width="600" height="400">
                <img src="images/1mx5_ME442.jpg" alt="" width="400" height="400">
                <img src="images/1mx5_supercharger_loose.jpg" alt="" width="500" height="400">
            </div>


            <div class="text-center">
                <h2 class="display-2" >Introduction.</h2>
            </div>            
                <p style="text-align:justify;">
            Welcome to my web page involving the Home brew kit of supercharging my MX-5 1.8 VVT 2002 model. Here I will try to explain how I done it and most importantly, 
            the issues I had while doing the build along with teething problems post build. <br/>
            The build included ME442 with built in wideband controller, Bosch 550cc injectors, BRK7E plugs (Not to be confused with BRK7E-11), M62 eaton supercharger
            which was removed from the Mercedes R170 2000, M62 weld yourself bracket, Bofi overlay pulley, ebay Intercooler along with some pipework. <br/>
            As I progress through the build, I have tried to take as many pictures as possible along the way. If any you require additionally or think it should be 
            added then please let me know. It should be noted that couple months prior to build. I already installed the Il motorsport radiator and that I run a stock exhaust
            including an OEM cat. Reason for this as I want to be able to go through MOT's without hassle. <br/>
            </p>
            <br/>
                <p style="text-align:justify;">
            Before I begin, I would like to send my sincere thanks to the below who have helped me along the way in my build.
            </p>

            <ul style="list-style-type:disc;">
                <li>Bofi : for the overlay, injectors and the countless of information on their webpage with regards to advice and guidance.</li>
                <li>Motorsports electronics for the ME442 and their support when I got stuck and post purchase of their ECU.</li>
                <li>DigiTune Ltd for the tuning and diagnostic help along with the sentinel shift light.</li>
                <li>eddk2012 (Ebay) for the supercharger bracket and dealing with a random issue I had (Dont ask lol).</li>
                <li>Gareth Fitter, for welding the throttle body housing brackets and inlet/outlets of the kit for me.</li>
            </ul>

            <section id="ME442">
            <div class="text-center">
                <h2 class="display-2">Injectors, ME442, Airfilter, IAT sensor.</h2>
            </div>
            </section>

                <p style="text-align:justify;">
                    The first part of the build was to install the Me442, Injectors, Airfilter and the IAT sensor. Although this was additional cost to the project, it was needed for 
                    myself as I was still using the car in between. Also, it give me piece of mind to ensure all was working correctly. For the wideband sensor, this was fitted into 
                    the mid pipe, fortunately for me, my mid pipe was fairly new, so changing the sensor was not to bad. however, I did have an issue with the cat as its original and 
                    the end connecting to mid pipe was rotted a bit, so welded on new clamp on.<br/>
                    For the ME442, I had to remove my old ECU, which was quite an easy install. By pushing passenger seat all way back, I then lifted up door step off, followed by 
                    the door seal, and pull carpet back to expose the metal foot well cover. From there, if not rotted, requires undoing the two bolts and remove the footwell plate to 
                    the ECU, oppertunity here to clean, paint or simply replace. When you remove the two bolts, if they dont shear.
                </p>
                <p style="text-align:justify;">
                    From here, you will then need to undo the supporting nuts and unplug the ECU, my understanding is different years have different plugs. Mine had three. You then need
                    to remove the ECU cover, unless you can find one second hand from somewhere. You will need to drill hole to fit additional cables coming out (USB, Wideband and Vac line).
                    The USB I routed up and keep in my glove box, while the vac line and wideband cable got routed through the bulkhead via a rubber flap located next to the inlet/outlet 
                    heater matrix coolant hoses. Where the vac line feeds up behind engine and to a port hole off the inlet manifold, and the wideband connects to the connector off the
                    sensor itself which can be secured near the original o2 sensor loom connector.<br/>
                </p>
                <p style="text-align:justify;">
                    For the vac line, this needs to be run with a clear route ensuring no kinks or anything can obstruct it as it connects to the inlet manifold and is used by the ECU 
                    to be able to measure the inlet manifold air pressure. Inconjunction to this, I had to remove the stock airbox and fitted an elbow piece with an Inlet Air Temperature
                    (IAT) sensor. The air box has two connectors leading to the box when removed, one is a two pin which you need and the other is a three pin which becomes redundant and 
                    not required. Tuck this amongst the loom tidy. For the two pin, I chopped the connector off and wired to the IAT, you could add a connector with wires and connect that
                    way, polarity is not a concern to IAT.<br />
                </p>

                <p style="text-align:justify;">
                    The injectors, which were supplied by Bofi were from new. 550cc is the choice I choose over traditional rx8 as alot people use, reason for this was I read so many stories 
                    people having issues with idle etc, and I wanted the OEM feel as much as possible as I was also running stock exhaust and near stock body, also 550 was the size as I have
                    no intentions of going wild boosting (As of yet). The issue I had with installing was after installation, getting the inlet manifold top cover back on. For some reason, 
                    when installed, the rail is lifted very slightly and so the corner of the hard fuel line at the bend by the throttle body just catches the cover. For me, the only way 
                    for this was to use a set of grips, bit of rag on the hard line and slightly bend it towards engine. That way it gives room to fit the cover back on.<br />
                </p>

                <p style="text-align:justify;">
                    Once the injectors, air filter, wideband and ECU was installed, it was ready for the initial start. You need download the basemap first, to which at time of my install, was 
                    not one available which confused me. A quick call to Motorsport Electronics (ME), and fair play, the service was awsome, the gentleman on other end of phone talked me through 
                    which said to use the turbo and told specifically which one to use, as there is a few lol. I then inputted all values for the injectors and IAT. be aware, where ever you purchase 
                    your injectors and IAT sensor (MY IAT was ordered with ME442 ECU). you need to insert their values. You can not miss match values from say bofi injectors and their site with 
                    another site. And here, my first start was initiated and whey hey, we're in.<br />
                </p>

                <p style="text-align:justify;">
                    Now I was running, I was ready for my tune. I cant stress this enough, maybe because I had not tried anyone else, but DigiTune Ltd won it hands down for me from start to finish.
                    First I was talked through with logging, and on first log, instantly spotted an issue with the wideband controller on the ECU. This resulted in sending the ECU back to ME, who
                    once again provided with excellent customer support, and the return was quick. Turns out there was an issue with the ECU itself and readings of wideband. Not sure what exactly 
                    but was all sorted quick enough. The tuning was then completed and WOW, the car felt alot more responsive and more importantly it felt OEM. Only thing which was added, was a 
                    trigger wheel purchased from Bofi. This helped with initial starts. To configure this, I was a little apprehensive with playing with the tuner studio and a little out my depth, 
                    and so for a small fee, alex quickly set this up. By the way, these ecu's are alot quicker in terms of loading, so dont need to wait for fuel to prime etc, turn of key, second 
                    or two later, Fire it up.<br />
                </p>

                <div class="scroll-container">
                    <img src="images/2mx5_engine bay stock.jpg" alt="" width="600" height="400">
                    <img src="images/2mx5_vac_line.jpg" alt="" width="500" height="400">
                    <img src="images/2mx5_bulkhead_hole.jpg" alt="" width="500" height="400">
                    <img src="images/2mx5_airbox.jpg" alt="" width="500" height="400">
                    <img src="images/2mx5_ecu_cover.jpg" alt="" width="500" height="400">
                </div>
                </section>
    
                <section id="Overlay">
                <div class="text-center">
                    <h2 class="display-2">Bofi Overlay Pulley, Supercharger brackets and housings.</h2>
                </div>

                <p style="text-align:justify;">
                    <br /> So, no issues after a few hundred miles of stock, apart from the coolant water pump inlet pipe decided to corode. Simple fix though, cut off the old elbow and drill out the excess. Finally
                    tap a new thread into it. I used a 1/4 inch BSP to secure with a 10mm barbed end, worked a treat. Onto the next part which was to install the Bofi overlay and weld up all the brackets
                    along with the inlet/outet. The overlay was fairly simple to fit and is supplied with new alan key bolts. Although I did have an issue with the current crank pulley which came with my 
                    MX-5. Appears there are two types of crank pulleys, one which is flat on the inner surface which is steel, the other (which I had) is cast and has a raised center (lip), which does not fit the
                    overlay. And so I then had to purchase a new one, well, second hand initially and in time I changed for new. Getting some of these old ones off is not for the faint hearted, they are solid and 
                    its like it welds itself to the crank timing pulley and bolt. easiest way is to slot something like a file behind from oneside and apply pressure pulling forward with one hand, and using other hand, 
                    give the opposite side of crank pulley a few blows with lump hammer. Then turn the crank half way round and do again, keep working through (good luck, you will need it).<br />
                </p>
                <p style="text-align:justify;">
                    Another key point in when you supercharge this way is the power steering, there are two options, change out power steering for a 6 rib. There is a gentleman on Facebook who do batches now and again, 
                    the second is run a 4 rib, which is what I choose to do, and so far, works well for me. I had to modify the Power steering pump slightly, first by turning the power steering pipe off the pump 180 degrees,
                    in so it dont interfere with the bracket. Also, the power steering flud holder also needs to be slightly moved depending how you route your charger outlet pipe, as I moved mine slightly over 
                    with adapting the pipe and additional fitting to make longer to feed the pump. Ensure this does not have the slightest kink, as it can affect the steering handling at higher speeds. Trust me, take from 
                    my experience. Hence why you can see a steel 120 bend inserted in the blue line, which I acquired off a scrapped hgv power steering pipe.<br />
                </p>

                <div class="scroll-container">
                    <img src="images/3mx5_crank_pulley.jpg" alt="" width="600" height="400">
                    <img src="images/3mx5_crank_pulley_overlay_trigger.jpg" alt="" width="600" height="400">
                    <img src="images/3mx5_overlay.jpg" alt="" width="400" height="400">
                    <img src="images/3mx5_power_steering.jpg" alt="" width="400" height="400">
                    <img src="images/3mx5_watrpump_inlet.jpg" alt="" width="400" height="400">
                </div>


                <p style="text-align:justify;">
                    <br /> For the bracket, you need to ensure it is square, I would suggest spot welding bracket in place, followed by checking it is straight and square from the flat plate, to the angle irons, then a
                    good welder to seam weld it. Once its all done, a trial run of fitting the bracket will definatelly be useful to make sure nothing is not mis-aligned. For the inlet and outlet, same 
                    again, a good welder as you dont want to have any leaks when your in boost. Unfortunately the kit does not come with any instructions, but to be honest, for me it was pretty self explanitory onces 
                    you lay together. For sealing when attached to the charger, I bought some silicone gasket sheets you cut yourself. I also bought a silicone elbow piece to fit between the recirc valve 
                    and the inlet join between the second throttle body and charger. This brings me onto the decision on why I choose a second throttle body, and main reason is due to noise, as much as I love the 
                    charger whine, but low cruising revs over distance can get to you.<br/>
                </p>
                <p style="text-align:justify;">
                    I did actually have an issue after a couple thousand miles with viibration, more specifically at 1800- 2000rpm, where a violent vibration would occur and the charger would sound
                    doomed, is best way to describe it. upon takking the charger off to inspect and also while I was at it, to change the needle bearings as that was the first suspect. I found that the charger 
                    had some flex, to which I then got bit of 30mm angle iron, and created an extension off the bracket connecting to the power steering mount bolt at rear of power steering. This had pretty much 
                    solved my issue.<br />
                </p>

                <div class="scroll-container">
                    <img src="images/4mx5_additional_strength.jpg" alt="" width="400" height="400">
                    <img src="images/4mx5_inlet_oulet.jpg" alt="" width="500" height="400">
                    <img src="images/4mx5_sc_mount_complete.jpg" alt="" width="400" height="400">
                    <img src="images/4mx5_sc_tb_angle.jpg" alt="" width="400" height="400">
                    <img src="images/4mx5_tb_sc.jpg" alt="" width="400" height="400">
                    <img src="images/4mx5_tb_to_sc.jpg" alt="" width="400" height="400">
                    <img src="images/4mx5_top_outlet.jpg" alt="" width="400" height="400">
                </div>
                </section>
    
                <section id="Intercooler">
                <div class="text-center">
                    <h2 class="display-2">Intercooler and manifold.</h2>
                </div>

                <p style="text-align:justify;">
                    <br/> The intercooler was an intresting one for me as the way I done mine is a little different to the traditional way others do it. There are many ways to do it, and alot of people tend to go over
                    the rad, or down and around, but be intresting to here what others think of mine. I purchased a black alloy one from ebay, think at time it was circa £75 and the pipework I bought was universal
                    2.5 inches. Without needing to lower the original radiator and adjusting the lower brackets. reasons being as my fan shroud would catch the Anti roll Bar (ARB) which I did not want to modify.
                    Closer look into extending the top brackets to tilt the radiator back towards engine seemed more feesable as I cut the top brackets in half and welded a plate between to extend. I also cut small
                    part out of the metal work between headlights and bumper to allow the intercooler pipework to fit through comfortably.<br/>
                </p>
                <p style="text-align:justify;">
                    For the bottom section of the Intercooler, I had got some 20mm angle iron with a rubber lip over the edge and a hole drilled either end, which then bolted securely to the lower radiator bracket. 
                    This was so that the intercooler, when car is in motion and bumps etc causing the Intercooler to swing and tap into the radiator. The top half, again with some angle iron cut to fit along the top 
                    radiator brackets, would be secured. Mid way being symetrically match with the Intercooler were another two holes along with thread bar (M8), to secure the Intercooler from above.
                </p>
                <p style="text-align:justify;">
                    What is really important is engine cooling, so having a decent rad, Intercooler along with manifold cover is critical to have. My inlet temps with my current set up is early 20's when driving normal 
                    and climb to mid to late 20's when pushing hard. For the manifold heat cover, I purchased armor heat shild from Bofi. I found this really good, as the charger does sit partially over the manifold so 
                    protecting the charger from heat is vital. In all, I was pleased how the Intercooler sat, and the way the pipework fitted smoothly around and into the throttle body.
                </p>

                <div class="scroll-container">
                    <img src="images/5mx5_brackets.jpg" alt="" width="400" height="400">
                    <img src="images/5mx5_cut_out.jpg" alt="" width="400" height="400">
                    <img src="images/5mx5_lower_bracket.jpg" alt="" width="400" height="400">
                    <img src="images/5mx5_lower_mount.jpg" alt="" width="400" height="400">
                    <img src="images/5mx5_to_mounts.jpg" alt="" width="400" height="400">
                    <img src="images/5mx5_top_IC.jpg" alt="" width="400" height="400">
                </div>
                </section>

                <section id="Charge">
                <div class="text-center">
                    <h2 class="display-2">Charge Me Up! Mount the charger, tension and tune it.</h2>
                </div>

                <p style="text-align:justify;">
                    <br/> People have different ways of tensioning the belt of charger, and good ways I may add like an auto tensioner, or even fixing a tensioner bolt into the bracket itself. My
                    way was with two bolt heads, and welding a tube and a long nut on either, with a bolt then fed through and tightened up as needed. One thing of doing this way, is once the tension is 
                    as desired, you need to tighten up the 17mm nut securing the pulley behind.
                </p>
                <p style="text-align:justify;">
                    For the mounting of the charger, there are elongated holes on the bracket. This allows for the charger to be turned very little to alighn with the PAS and rest of the 
                    pulley system. Inconjunction with alignment, pending how close your welding of bracket, may include having to use washers to get the right tilt. for this part I used an electronic
                    spirit level, by taking a measurement of the overlay/crank pulley, as your car may already be on a angle as whole, so measurement wont be as accurate to aim for 0.0% angle.
                    Caution here though, I used M62 with electronic clutch and so I took off the face to get a solid surface when taking measurement of tilt, then put back on before next step.
                </p>
                <p style="text-align:justify;">
                    With the swivel of the charger, I done this by keeping the bolts slight loose slightly, enough to swivel the charger if needed. by turning the engine on, you will be able to see how 
                    straight the belt aligns with the idler pulley and power steering. Move as needed, then switch off engine, and tighten down firmly. The final bit was the second throttle body cable. 
                    I had ordered a universal one off amazon. Cheap enough, and routed through. My inlet mani throttle body did not come with the dual cable type on mine, so had a scrapped TB and took off the 
                    cable route part and welded it onto the TB making a dual cable. where the second TB is, I had got bit of plate, and bolted to where the washer bottle used to be for the cable tension.
                    The new washer which was a DaveFab, was located near the windscreen (Great product, highly reccomend).
                </p>
                <p style="text-align:justify;">
                    Now for the ultimate tune with the charger. Theres no better feeling, than when your nearing the end of the tuning process and Alex tells you to go for it and hit that limiter.
                    WOW, my 5 felt absolutely amazing. The relief I had after the build was out this world. But, there was an issue. Turns out there was a minor issue with the limiter, I couldnt notice
                    it personally, perhaps too excited for forced air in my 5. So sent ECU to DigiTune for a minor modification regarding the resistors on the boared. Not all ECU's have this issue as it can be 
                    the car itself. This was way out my depth but the answer I received was that "The reason for doing it is to speed up the "reset" edge of the pulse when the tooth falls. Before doing that, 
                    the falling edge of one tooth waveform ran into the rising edge of the next." So my ECU went off, swiftly returning and the final log was complete and I was one happy boosted mx5er.<br/>
                </p>

                <div class="scroll-container">
                    <img src="images/6mx5_over_level.jpg" alt="" width="400" height="400">
                    <img src="images/6mx5_dave_fab.jpg" alt="" width="400" height="400">
                    <img src="images/6mx5_sc_pully_level.jpg" alt="" width="400" height="400">
                    <img src="images/6mx5_tensioner.jpg" alt="" width="400" height="400">
                    <img src="images/6mx5_throttle_cable.jpg" alt="" width="400" height="400">
                </div>
                </section>

                <section id="Conclusion">
                <div class="text-center">
                    <h2 class="display-2">Conclusion.</h2>
                </div>

                <p style="text-align:justify;">
                    <br /> This project has taken me some time to decide and implement. The key goal for me was OEM feel as well as reliability, which I think I was very successful in. Dont get me wrong, there were times
                    I was contemplating on turning back, but the end goal was and still is amazing. Shortly after the tune, my clutch did start slipping and so change was needed. I changed mine with the Exedy standard.
                    I was apprehensive on this as was not sure how much power it could hold, and after speaking to people and researching, I felt more comfortable. I am approx 3500 miles in, and still love it to bits with
                    no issues, apart from the strenghen bar on bracket as earlier mentioned. I will say this though, that doing brakes and suspension is vital. I have EBC green stuff with EBC ultra quiet discs all round 
                    which were previously done. Also, are the suspension, I had vmaxx coilovers and finally, all my wishbones have been done and fitted with new standard bushes. Alignment was carried out by Avio Autos, 
                    Highly recommended from all sorts of MX5ers particuarly down south wales (UK). <br/>
                    The final part which I should mention, is the sentinal shift light by digiTune. This came about not cause of the fancy light to shift, which is huge bonus, but the warning light system connected to the ME442
                    canbus high and low (Not sure if compatible with other ECU's). But I could have had a major issue which was caught fast, was a stuck thermostat and noticed guage climbing in time. I was chatting with 
                    Alex who reccomended this, and can be used for warning of other sensors including knock, oil and battery voltage. Really good piece of kit and easy to install and configure. And It looks cool when 
                    lit up in shift.
                </p>

                <p style="text-align:justify;">
                    Further to the write up developed, I have also included videos on my Youtube channel, simply by <a href="https://youtube.com">Clicking here</a>
                    you can view alot of the videos including the charger rotars and completion of build.
                </p>

                <p style="text-align:justify;">
                    Hope you all enjoyed this read, I built this as part of my portfolio to aspire to be a developer, so please leave a review on not only the write up, but also the UI if your a developer, as I am learning.
                    Much love, peace out.
                    Chris
                </p>
                </section>

            </div>
        </div>

        <div class="col-md-2" style="border-left:double; border-color:blue; ">
        <!-- Right sidebar content -->
        <ul>
            <li><a href="#Intro">Intro</a></li>
            <li><a href="#ME442">ME442</a></li>
            <li><a href="#Overlay">Overlay</a></li>
            <li><a href="#Intercooler">Intercooler</a></li>
            <li><a href="#Charge">Chargeand Tune</a></li>
            <li><a href="#Conclusion">Conclusion</a></li>
        </ul>
    </div>
    
</div>


