@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Chris Rees";
}


<div class="row">
    <div class="col-md-2" style="border-right:double; border-color:blue;">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="float:right; position: fixed;">
            <!-- Left sidebar content -->
            
        </div>
    </div>

    <div class="col-md-7">
        <!-- Right content -->
        <div class="center-content" style="padding:25px">
            <!-- Main content here -->
            <h1>@ViewData["Title"]</h1>

            <p>Thank you for viewing my page, deeply appreciated.</p>
            
            <br />
            <p>
                I created this in support to help others when it comes to supercharging your MX-5/Miata, and thought I would give, hopefully a deep enough insight into the project.
                I have owned my 5/miata for approx 9 years now and it continues to enlighten me. I have done alot of work to this car, including the chassis rails, which I done
                myself and the rear quarter panels which were done by a garage and free lance welder. Although my welding is half tidy, but quarter panels are a different game.
                I have also done all bushes, suspension and brakes. All these were done as I wanted to make sure the car was solid before doing it. The final thing for this car now
                is the body shop, tempted to get it sprayed in a high gloss pearl white colour.

                One project i am toying with is the idea of getting a BMW DCT box in, how cool would that be? but maybe next year, perhaps il include that into this page.
            </p>
            
            <br />
            <p>
                I am an aspiring software developer enhancing my career by building web apps, hence why this was created to build experience. I would be greatful if any developers
                out there would mind giving some pointers and guide me in right direction. recently graduated with a BSc in computers.
            </p>

            <br />
            <p>
                Thanks again for reading my article.
                <br />
                Chris Rees
            </p>

        </div>
    </div>

    <div class="col-md-2" style="border-left:double; border-color:blue; ">
    </div>

</div>
